<!-- Login form-->
<div class="container container-styles">
	<div class="col-xs-7 col-xs-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Login</div>
			<div class="panel-body padding">
				<form class="form-horizontal" [formGroup]="loginForm">
					<div class="form-group" >
						<label for="name" class="col-xs-4 control-label" style="text-align:left">User Name</label>
						<div class="col-xs-8">
							<input type="text" class="form-control" [ngClass]="{'valid':loginForm.controls['userName'].valid, 'invalid':loginForm.controls['userName'].invalid && !loginForm.controls['userName'].pristine}" formControlName="userName">
							<div *ngIf="loginForm.controls['password'].errors && loginForm.controls['userName'].dirty">
							<div *ngIf="loginForm.controls['userName'].errors?.['required']" style="color:red">UserName is required
							</div>
						</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-xs-4 control-label" style="text-align:left">Password</label>
						<div class="col-xs-8">
							<input type="password" class="form-control" [ngClass]="{'valid':loginForm.controls['password'].valid, 'invalid':loginForm.controls['password'].invalid && !loginForm.controls['password'].pristine}" formControlName="password">
							<div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].dirty">
							<div *ngIf="loginForm.controls['password'].errors?.['required']" style="color:red">Password is required
							</div>
						</div>
						</div>
					</div>

					<div *ngIf="!valid" class="error">Invalid Credentials...Please try again...</div>
					<br />

					<div class="form-group">
						<span class="col-xs-4"></span>
						<div class="col-xs-3">
							<button (click)="onSubmit()" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
						</div>
						<span class="col-xs-5" style="top:8px">
							<a [routerLink]="['/welcome']" style="color:#337ab7;text-decoration: underline;">Cancel</a>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>